body {
    font-family: Arial, sans-serif;
    margin-top: 20px;
}
header{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.disk{
    font-size: 50px;
}
.floating-home-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #212529; /* color oscuro */
    color: white;
    font-size: 25px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: transform 0.2s ease, background-color 0.2s ease;
    z-index: 9999;
}

.floating-home-btn:hover {
    transform: scale(1.1);
    background-color: #343a40;
}

.thumbnail {
        width: 50%;
        height: auto;
    }

.myCard {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: left;
}


