{% extends "base.twig" %}
{% block main %}
        <div class="col-6 d-flex flex-column align-items-center">
            <h1 class="text-center"> --- {{ userName }}'s new Song --- </h1>
            <form class="w-50" method="POST" action="\song\edit">

                <label>Name</label>
                <input type="text" class="form-control mb-3"
                       name="songName"
                       value="{{ song.getName() }}"
                       placeholder="Song\'s name"
                       required>

                <label>Album</label>
                <select class="form-control mb-3" name="songAlbum" required>
                    <option value="">-- Select Album --</option>';

                    {% for album in getAlbumsByUserId(userId) %}
                        <option value="{{ album.id }}">{{ album.name }}</option>;
                    {% endfor %}
                </select>

                <label>Song duration</label>
                <div class="d-flex justify-content-center align-items-center">
                    <p>Minutes</p>
                    <p class="me-2 ms-2"> </p>
                    <p>Seconds</p>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <input type="number" class="form-control mb-3 text-center"
                           name="songMinutes"
                           min="0" max="59" value="0" required>

                    <p class="me-2 ms-2">:</p>

                    <input type="number" class="form-control mb-3 text-center"
                           name="songSeconds"
                           min="0" max="59" value="0" required>
                </div>

                <button type="submit" class="btn btn-primary mt-3 w-100">Edit</button>
            </form>
        </div>
{% endblock %}